@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;;
}

.box-polvo {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 2em auto;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em;
}

#header svg {
  margin-bottom: 1.5em;
  cursor: pointer;
}

#header h3 {
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  color: #6C41D7;
}

.form-login {
  display: flex;
  flex-direction: column;
}

.form-login div {
  display: flex;
  flex-direction: column;
  padding: 0 3em;;
}

.form-login label {
  font-weight: 600;
  line-height: 17px;
  font-size: 10px;
  color: #828282;
  margin: .3em 0;
}

.form-login input {
  border: 1px solid #BFBFBF;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
  padding: 0.4em;
  margin-bottom: .5em;
}

ul {
	margin-top: 1.2em;;
  position: relative;
  font-weight: 600;
  line-height: 11px;
  font-size: 10px;
  margin-bottom: .5em;
  list-style: inside;
  color: #828282;
}

#lv1:after, #lv2:after, #lv3:after {
	content: '';
	position: absolute;
	top: -15px;
	width: 58px;
	height: 6px;
	background-color: #EDEDED;
  border: 1px solid #EDEDED;
	border-radius: .2em;
}

#lv1:after {
  left: 0px;
  background-color: gray;
}

#lv2:after {
  left: 63px;
  background-color: gray;
}

#lv3:after {
	background-color: gray;
	left: 125px;
}



button {
  margin-top: .7em;
  padding: 0.6em;
  background-color: #6C41D7;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1.5em;
}

:root {
  --requisite1:#dcdde1;
  --requisite2:#dcdde1;
  --requisite3:#dcdde1;
}

#pass,
#confirmPass {
  width: 100%;
  box-sizing: border-box;
  padding: .5em;
  margin: .5em 0;
  position: relative;
}

.requisites {
  width: 100%;
  color: #dcdde1;
  padding: 0 1em;
  position: relative;
}

#requisite-1:after,
#requisite-2:after,
#requisite-3:after {
	content: '';
	width: 40%;
	height: 10px;
	background-color: #dcdde1;

	position: absolute;
  top: -15px;
}

#requisite-1:after {
  left: 0;
}

#requisite-2:after {
  left: 30%;
}

#requisite-3:after {
  left: 60%;
}

.approved#requisite-1:after {
  background-color: var(--requisite1);
}

.approved#requisite-2:after {
  background-color: var(--requisite2);
}

.approved#requisite-3:after {
  background-color: var(--requisite3);
}


@media(min-width: 768px) {
  .container {
    background-color: #F7F7F7;
  }
  .box-polvo {
    max-width: 320px;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
}


